/* Table Css */

table {
  margin: auto;
  width: 310px;
  max-width: 400px;
  height: 330px;
  text-align: center;
  border-radius: 4px;
  padding-right: 10px;
}

/* Input Css */

input {
  outline: 0;
  position: relative;
  left: 5px;
  top: 5px;
  border: 0;
  color: #fff;
  background-color: #000;
  border-radius: 4px;
  width: 60px;
  height: 50px;
  float: left;
  margin: 5px;
  font-size: 20px;
  box-shadow: 0 4px rgba(0,0,0,0.2);
  margin-bottom: 15px;
}

/* Display */

.display {
  width: 300px;
  max-width: 295px;
  font-size: 26px;
  text-align: right;
  background-color: #000;
  float: left;
}

/* Operators */

.operator {
  background-color: #000;
  position: relative;
}

/* Clear */

#clear {
  font-size: 26px;
  background-color: red;
  
}


